p {
    font-size: 11px;
}

h2 {
    font-size: 22px;
    font-weight: 300;
}

.contact-list-item {
    cursor: pointer;
    border-collapse: collapse;
}

.contact-list-item:hover {
    background-color: #CEE7F2 !important;
}

.contact-list-container {
    width: 350px;
    height: 400px;
    overflow-y: scroll;
    border-collapse: collapse;
}

.selected {
    background-color: #CEE7F2 !important;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #abadad;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}