<header class="container-fluid py-4 h1 bg-info m-0 text-white">
  Address Book
</header>
<nav class="navbar navbar-expand-sm bg-dark p-0">
  <div class="container-fluid px-1">
    <ul class="navbar-nav text-capitalize align-items-center ">
      <li class="nav-item">
        <a class="nav-link text-white" data-bs-toggle="tooltip" title="Home" routerLink="/home/contacts">home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white cursor-pointer"  data-bs-toggle="tooltip" title="Add contact" (click)="openContactForm()">+ add</a>
      </li>
    </ul>
    <div>
        <img src="../assets/images/blog-icon.png" alt="blog-icon" class="navbar-brand">
    </div>
  </div>
</nav>
